# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# База данных
*.db
*.sqlite
*.sqlite3

# Логи
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore
*.dockerfile
.docker

# Docker Compose
docker-compose.yml
docker-compose.*.yml
*.yaml

